* {
    all: unset;
    font-family: "JetBrainsMono NF", monospace;
    transition: 0.3s;
    font-size: 1.2rem;
}

/* Round images and remove their background */
image {
    border-radius: 12px;
    background: transparent;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}
