[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/nix/store/0dzx8n4vzw8xwxlx9s7g96qidjsiikwc-electron-unwrapped-33.0.2/libexec/electron/electron" "/nix/store/bhac9sn1w2rn91r8nzm15cv709c96z1v-vesktop-1.5.3/opt/Vesktop/resources/app.asar" "--enable-speech-dispatcher" "--ozone-platform-hint=auto" "--enable-features=WaylandWindowDecorations" "--enable-wayland-ime"
StartupNotify=false
Terminal=false