layout {
    background-color "transparent"

    focus-ring {
        active-color   "#6f5d0d"
        inactive-color "#7d7767"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#6f5d0d"
        inactive-color "#7d7767"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#6f5d0d"
        inactive-color "#7d7767"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#6f5d0d80"
    }
}